.bannerContainer {
  border-radius: 25px;
  background: $main-primary-gray-color;
  position: relative;
  width: 100%;
  aspect-ratio: 1240 /223;
  overflow: hidden;
  padding: 0;
  margin: 0;

  @media (max-width: 768px) {
    aspect-ratio: 335 /111;
    border-radius: 10px;
  }


  .bannerContainer__imageContainer {
    display: flex;
    align-items: center;
    height: 100%;

    .bannerContainer__image {
      object-fit: cover;
      width: 100%;
    }
  }

  .bannerContainer__mask {
    position: absolute;
    top: 0;
    opacity: 60%;
    background: $main-primary-black-color;
    height: 100%;
    width: 100%;
  }

  .bannerContainer__captionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    @media (max-width: 768px) {
      justify-content: flex-start;
    }

    .bannerContainer__caption {
      gap: 4px;
      @include mainPrimaryFontElement($size: 48px);
      text-shadow: 1px 0 black,
      -1px 0 black,
      0 1px black,
      0 -1px black,
      1px 1px black,
      -1px -1px black,
      1px -1px black,
      -1px 1px black,
      5px 5px 5px rgba(0, 0, 0, 0.5);

      @media (max-width: 768px) {
        font-size: 24px !important;
        margin-left: 16px;
        text-shadow: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 4px;
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 36px !important;
      }

    }
  }

}