.carouselContainer {
  position: relative;
  height: 415px;
  border-radius: 25px;
  margin: 0;
  overflow: hidden;

  @media (max-width: $layout-size-480px){
    border-radius: 10px;
    height: 255px;
  }

  .carouselContainer__imageContainer {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    
    height: 100%;
    width: 100%;
    
    .carouselContainer__imageContainer__image {
      object-fit: cover;
      width: 0;
      max-width: 1240px;

      &.selected {
        width: 100% ;
      }
    }

    
  }
  .carouselContainer__navigationContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .carouselContainer__navButton {
      border: none;
      background: transparent;
      cursor: pointer;
      
      &.--previousBtn {
        margin-left: 23px;

        @media (max-width: $layout-size-390px){
          margin-left: 5px;
        }
      }

      &.--nextBtn {
        margin-right: 23px;

        @media (max-width: $layout-size-390px){
          margin-right: 5px;
        }
      }
      
      img {
        height: 79px;

        @media (max-width: $layout-size-390px){
          height: 19px;
        }
      }
    }
  }
  
  .carouselContainer__Caption {
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    @include monserratFontElement($size:18px, $weight:500, $color: $main-primary-white-color);
  }
}