// Conteneur de l'expander
.expanderContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  //En-tête de l'expander
  .expander__header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    justify-content: start;
    background: $main-primary-red-color;
    
    padding: 10px 20px 10px 10px;
    margin: 0;
    //largeur 100% - les paddings
    width: calc(100% - 30px);
    border-radius: 5px;

    //Titre de l'en-tête
    .expanderContainer__header__title {
      @include mainPrimaryFontElement($size: 18px);
      text-align: start;

      @media (max-width: 768px){
        font-size: 13px !important;
      }
    }

    //icone de l'expander
    .expanderContainer__header__glyph {
      cursor: pointer;
      border: none;
      background: transparent;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      
      img {
        width: 24px;
        transition: transform 0.3s ease-in-out;

        @media (max-width: 768px){
          width: 16px;
        }
      }
      
      &.dellapse {
        img {
          transform: rotate(-180deg);
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  }

  //Conteneur du contenu de l'expander
  .expanderContainer__content {
    background: #F6F6F673;
    padding: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
    @include mainPrimaryFontElement($size: 18px, $weight: 400, $color:$main-primary-black-color);

    @media (max-width: 768px){
      font-size: 14px;
    }
    
    &.dellapse {
      opacity: 1;
      padding: 13px 20px 19px 20px;
      height: auto;
      transition: opacity 0.5s ease, height 0.5s ease;
    }
  }
}