@import "src/styles/layouts/theme";

// Conteneur de l'expander
.expander {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  //En-tête de l'expander
  .expander__header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    justify-content: start;
    background: $main-primary-red-color;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    //Titre de l'en-tête
    .expander__header__title {
      @include monserratFontElement($size: 18px);
      text-align: start;
    }

    //icone de l'expander
    .expander__header__glyph {
      @include monserratFontElement($size: 18px);
      transition: transform 0.3s ease-in-out;
    }

    .expander__header__glyph.dellapse {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
    }
  }

  //Conteneur du contenu de l'expander
  .expander__content {
    background: #F6F6F673;
    padding: 13px 20px 19px 20px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
  }

  .expander__content.dellapse {
    opacity: 1;
    height: auto;
    transition: opacity 0.5s ease, height 0.5s ease;
  }
}