@import "src/styles/layouts/theme";

.ratingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 19px;
  align-items: center;

  @media (max-width: $mobile-size-layout){
    gap: 8px;
  }
  
  .ratingContainer__star {
    background: transparent;
    border: none;
    padding: 0;
    
    img {
      height: 25px;
      width: 25px;

      @media (max-width: $mobile-size-layout){
        height: 14px;
        width: 14px;
      }
    }
  }
}