main {
  margin-bottom: 38px;

  @media (max-width: 768px){
    margin-bottom: 19px;
  }
}

.about-expanders-container {
  margin: 43px 108px 0 108px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 768px){
    margin: 19px 0 0 0;
    gap: 20px;
  }

  @media (min-width: 769px) and (max-width: 1024px){
    margin: 43px 0 0 0;
  }
  
  .expanderContainer__header__title {
    font-size: 24px !important;

    @media (max-width: 768px){
      font-size: 13px !important;
    }
  }
}