main {
  margin-bottom: 50px;

  @media (max-width: $mobile-size-layout){
    margin-bottom: 27px;
  }
}

.logement__data-grid__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-top: 24px;

  @media (max-width: $layout-size-768px){
    grid-template-columns: none;
  }

  .logement__title-location-tags__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;

    .logement-title {
      margin: 0;
      overflow-wrap: break-word;
      @include monserratFontElement($size: 36px, $weight: 500, $color:$main-primary-red-color);

      @media (max-width: $layout-size-390px){
        @include monserratFontElement($size: 18px, $weight: 500, $color:$main-primary-red-color);
      }

      @media (min-width: $layout-size-390px + 1) and (max-width: $layout-size-480px){
        @include monserratFontElement($size: 24px, $weight: 500, $color:$main-primary-red-color);
      }
    }

    .logement-location {
      margin: 0;
      @include monserratFontElement($size: 18px, $weight: 500, $color:$main-primary-black-color);

      @media (max-width: $layout-size-390px){
        @include monserratFontElement($size: 14px, $weight: 500, $color:$main-primary-black-color);
      }
    }

    .logement-tags-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      padding: 8px 0;
      margin-top: 8px;
    }
  }

  .logement__host-rating__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    gap:24px;

    @media (max-width: $layout-size-768px){
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
    
    .logement-host-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;

      .logement-host-name {
        @include monserratFontElement($size: 18px, $weight: 500, $color:$main-primary-red-color);
        max-width: 93px;
        text-align: end;

        @media (max-width: $layout-size-390px){
          @include monserratFontElement($size: 12px, $weight: 500, $color:$main-primary-red-color);
        }
      }

      .logement-host-picture {
        height: 64px;
        width: 64px;
        border-radius: 34px ;
        background: $main-primary-gray-c4-color;

        @media (max-width: $layout-size-390px){
          height: 32px;
          width: 32px;
        }
      }
    }

  }

}



.logement-description-equipements-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 76px;
  margin-top: 24px;

  @media (max-width: $layout-size-768px){
    grid-template-columns: none;
    gap: 20px;
  }
  
  .logement-description-equipements-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}