main {
  margin-bottom: 50px;

  @media (max-width: $mobile-size-layout){
  margin-bottom: 27px;
  }
}

#gallery {
  background: $main-primary-gray-color;
  border-radius: 25px;
  padding: 56px 50px 43px 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 50px;
  column-gap: 5%;
  margin-top: 43px;
  
  @media (max-width: $layout-size-575px){
    background: transparent;
    padding: 0;
    flex-direction: column;
    margin-top: 22px;
    row-gap: 20px;
  }

  @media (min-width: $layout-size-575px + 1) and (max-width: $layout-size-1024px){
    padding: 31px 25px 30px 25px;
    row-gap: 35px;
  }

  a {
    width: 30%;
    aspect-ratio: 1/1;
    
    @media (max-width: $layout-size-880px){
      width: 100%;
      aspect-ratio: 4/3;

    }
  }
}