//Couleurs
$main-primary-red-color: #FF6060;
$main-primary-white-color: white;
$main-primary-black-color: black;
$main-primary-gray-45-color: #F6F6F673;
$main-primary-gray-color: #F6F6F6;
$main-primary-gray-c4-color: #C4C4C4;

//Police
$main-primary-font-family: Montserrat, 'sans-serif';

//Taille
$mobile-size-layout:376px;
$layout-size-575px:575px;
$layout-size-640px:640px;
$layout-size-768px:768px;
$layout-size-800px:800px;
$layout-size-880px:880px;
$layout-size-960px:960px;
$layout-size-1024px:1024px;
$layout-size-1280px:1280px;