//Couleurs
$main-primary-red-color: #FF6060;
$main-primary-white-color: white;
$main-primary-black-color: black;
$main-primary-gray-45-color: #F6F6F673;
$main-primary-gray-color: #F6F6F6;
$main-primary-gray-c4-color: #C4C4C4;

//Police
$main-primary-font-family: Montserrat, 'sans-serif';

//Taille
$mobile-size-layout:376px;


@mixin monserratFontElement($size: 1.5em, $weight: 700, $color: $main-primary-white-color) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: $main-primary-font-family;
}